.software{
  padding: 0%;
  margin: 0%;
  overflow: hidden;
  /* display: inline-block; */
  width: 132px;
  height: 321px; 
}
.software img{
  width: 640px;
  height: 640px;
        
}

@media only screen and (min-width: 1200px) {
  .software img{
    margin-left: -1px;
    }
 }

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .software img{
    margin-left: -128px;
    }
 }

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  .software img {
    margin-left: -255px;
    }
}  

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  .software img {
    margin-left: -380px;
    }
}  

@media only screen and (min-width: 800px) and (max-width: 900px) {
  .software img {
    margin-left: -508px;
    }
}  

@media only screen and (min-width: 700px) and (max-width: 800px) {
  .software img {
    margin-left: -1px;
    margin-top: -320px;
    }
}  

@media only screen and (min-width: 600px) and (max-width: 700px) {
  .software img {
    margin-left: -128px;
    margin-top: -320px;
    }
}  
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .software img {
    margin-left: -255px;
    margin-top: -320px;
    }
}  
@media only screen and (min-width: 400px) and (max-width: 500px) {
  .software img {
    margin-left: -382px;
    margin-top: -320px;
    }
}  

@media only screen and (max-width: 400px) {
  .software img {
    margin-left: -508px;
    margin-top: -320px;
    }
} 


/* 
iven the above image named software.png and using only one HTML file named index.html and only one CSS file named responsive.css, create a web page where if you resize the browser screen width, a different part of the image will be rendered. That is:
If the browser screen width is greater than 1200 pixels, display the top-left image of software.png (i.e., the one that reads "How the customer explained it")
If the browser screen width is greater than 1100 pixels but less than or equal to 1200 pixels, display the second image on the top row (i.e., "How the Project Leader understood it").
If the browser screen width is greater than 1000 pixels but less than or equal to 1100 pixels, display the third image on the top row (i.e., "How the Analyst designed it").
If the browser screen width is greater than 900 pixels but less than or equal to 1000 pixels, display the fourth image on the top row.
If the browser screen width is greater than 800 pixels but less than or equal to 900 pixels, display the last image on the top row.
If the browser screen width is greater than 700 pixels but less than or equal to 800 pixels, display the first image on the second row ("How the project was documented").
If the browser screen width is greater than 600 pixels but less than or equal to 700 pixels, display the second image on the second row.
If the browser screen width is greater than 500 pixels but less than or equal to 600 pixels, display the third image on the second row.
If the browser screen width is greater than 400 pixels but less than or equal to 500 pixels, display the fourth image on the second row.
If the browser screen width is less than or equal to 400 pixels, display the last image, bottom-right ("What the customer really needed"). */